.main {
  min-height: 100vh;
  min-height: 100svh;
  padding-top: 75px;
  --bg-dot-color: rgba(var(--foreground-rgb), 0.05);
  background: radial-gradient(
      circle at top,
      transparent 60%,
      var(--bg-dot-color) 61%,
      var(--bg-dot-color) 66%,
      transparent 67%
    ),
    radial-gradient(
      circle at bottom,
      transparent 60%,
      var(--bg-dot-color) 61%,
      var(--bg-dot-color) 66%,
      transparent 67%
    ),
    radial-gradient(
      circle at left,
      transparent 60%,
      var(--bg-dot-color) 61%,
      var(--bg-dot-color) 66%,
      transparent 67%
    ),
    radial-gradient(
      circle at right,
      transparent 60%,
      var(--bg-dot-color) 61%,
      var(--bg-dot-color) 66%,
      transparent 67%
    );
  background-size: 3em 3em;
}

.content {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.content h1 {
  text-align: center;
}

.repos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 2rem;
  justify-content: space-evenly;
  padding-top: 30px;
}
