.nav {
  width: 100%;
  background-color: rgb(var(--nav-background-rgb));
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.logoGrp {
  margin: 15px 15px 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  stroke: none;
  fill: rgb(var(--foreground-rgb));
  height: 40px;
  width: 40px;
}

.logoGrp div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.avatar {
  display: grid;
  position: relative;
  place-items: center;
  margin: 15px 20px 15px 15px;
}

.avatarImg {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  outline: 3px solid rgb(var(--foreground-rgb));
  cursor: pointer;
}

.avatarMenu {
  position: absolute;
  background: rgb(var(--nav-background-rgb));
  padding: 20px 25px;
  top: 70px;
  right: -12px;
  cursor: pointer;
  font-weight: bold;
  display: none;
}

.avatarMenu[data-classes="true"] {
  display: block;
}

@media (prefers-color-scheme: light) {
  .nav {
    box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.75);
  }
}
